
@using System.Security.Cryptography.X509Certificates
@using Shared.Poco
@model Shared.Resources.Role.RoleGetData
@{
    ViewData["Title"] = "Yetki Grupu Düzenleme";
    var allPermissions = ((List<PermissionGroupPocoModel>)ViewBag.Permissions).OrderBy(c => c.VisibleTitle).ToList();
    bool isAllExist = false;



}
<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

    <!--CONTENT HERE -->
    <div class="row">
        <div class="col-lg-12">

            <form id="form" asp-action="Edit" asp-controller="Role" asp-route-id="@Model.Id" class="kt-form kt-form--label-right" method="post">
                <input name="id" value="@Model.Id" hidden readonly />
                <div class="kt-portlet">
                    <div class="kt-portlet__head kt-portlet__head--lg not-sticky">
                        <div class="kt-portlet__head-label">
                            <span class="kt-portlet__head-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                        <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z"
                                              fill="#000000" fill-rule="nonzero" opacity="0.3">
                                        </path>
                                        <path d="M11,14 L9,14 C8.44771525,14 8,13.5522847 8,13 C8,12.4477153 8.44771525,12 9,12 L11,12 L11,10 C11,9.44771525 11.4477153,9 12,9 C12.5522847,9 13,9.44771525 13,10 L13,12 L15,12 C15.5522847,12 16,12.4477153 16,13 C16,13.5522847 15.5522847,14 15,14 L13,14 L13,16 C13,16.5522847 12.5522847,17 12,17 C11.4477153,17 11,16.5522847 11,16 L11,14 Z"
                                              fill="#000000">
                                        </path>
                                    </g>
                                </svg>
                            </span>
                            <h3 class="kt-portlet__head-title">
                                Yetki Grubu Ekle
                            </h3>
                        </div>
                        <div class="kt-portlet__head-toolbar">
                            <div class="kt-portlet__head-wrapper">
                                <div class="kt-portlet__head-actions">
                                    <div class="dropdown dropdown-inline">
                                        <button type="submit" class="btn btn-success btn-wide kt-font-bold kt-font-transform-u mr-1" data-ktwizard-type="action-submit">
                                            <i class="la la-save"></i> Kaydet
                                        </button>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="kt-portlet__body">
                        <div class="form-group row mb-0">
                            <div class="col-lg-6">
                                <label>Yetki Grubu Adı</label>
                                <input type="text" class="form-control" name="Name" value="@Model.Name">
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Yetki Grubu Açıklaması</label>
                                    <input type="text" class="form-control" name="Description" value="@Model.Description">

                                </div>
                            </div>
                        </div>

                    </div>


                </div>

                <div id="permissionContent">


                    <div id="generalPermissions">
                        @*<div class="kt-portlet auth-section">
                                <div class="kt-portlet__head kt-portlet__head--lg not-sticky auth-section-title">
                                    <div class="kt-portlet__head-label">
                                        <h3 class="kt-portlet__head-title">
                                            <i class="fa fa-lock mr-3"></i>Genel Yetkiler
                                        </h3>
                                    </div>
                                    <div class="kt-portlet__head-toolbar">
                                        <div class="kt-portlet__head-wrapper">
                                            <div class="kt-portlet__head-actions">

                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>*@
                        <div id="generalPermissionsContent" class="form-group row">


                            @foreach (var category in allPermissions)
                            {
                                <div class="col-xl-3 col-lg-4 col-md-6">
                                    <div class="kt-portlet kt-portlet--height-fluid  groupContent">
                                        <div class="kt-portlet__head not-sticky">
                                            <div class="kt-portlet__head-label auth-group-portled-headl-label">
                                                <h3 class="kt-portlet__head-title">
                                                    @category.VisibleTitle
                                                </h3>
                                            </div>
                                            <div class="kt-portlet__head-toolbar">
                                                <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success mt-2">
                                                    <label class="mb-0">
                                                        @{
                                                            isAllExist = category.PossiblePermissionsList.All(c => Model.Permissions.Select(c => c.RelationId).Contains(c.RelationId));

                                                            if (isAllExist)
                                                            {
                                                                <input type="checkbox" data-type="group" checked>

                                                            }
                                                            else
                                                            {
                                                                <input type="checkbox" data-type="group">
                                                            }
                                                        }
                                                        <span></span>
                                                    </label>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="kt-portlet__body">
                                            @foreach (var permission in category.PossiblePermissionsList.OrderBy(c => c.VisibleTitle))
                                            {
                                                <div class="kt-widget4 permission">
                                                    <div class="kt-widget4__item d-inline-flex align-items-center w-100">
                                                        <div class="kt-widget4__title">
                                                            @permission.VisibleTitle
                                                        </div>
                                                        <div>
                                                            <span class="kt-switch kt-switch--outline kt-switch--icon @(permission.Title.ToLower() == "showsalary" ? "kt-switch--info" : "kt-switch--success") ">
                                                                <label class="mb-0">
                                                                    @if (Model.Permissions.Any(c => c.RelationId == permission.RelationId))
                                                                    {
                                                                        <input type="checkbox" data-type="item" value="@permission.RelationId" checked>

                                                                    }
                                                                    else
                                                                    {
                                                                        <input type="checkbox" data-type="item" value="@permission.RelationId">

                                                                    }
                                                                    <span></span>
                                                                </label>
                                                            </span>




                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>

                </div>




            </form>


        </div>
    </div>

    <!-- end:: Content -->
</div>


@section Scripts {
    <script src="~/views/js/yetki-gruplari-ekle.js"></script>
}
